body {
  font-family:Helvetica, sans-serif;
}

a {
  text-decoration:underline;
  color:#000000;
}

a.visited {
  text-decoration:underline;
  color:#000000;
}

img {
    width:125px;
    height:125px;
}

#left {
  float:left;
  padding-right:5px;
}

#right {
  overflow: hidden;
}

.title {
  text-align:left;
  padding-bottom:1px;
  overflow:hidden;
  font-size:40px;
}

.subtitle {
  font-style:italic;
  text-align:left;
  overflow:hidden;
  padding-top:1px;
  font-size:24px;
  color:#777777;
}

.current {
  font-style:italic;
  text-align:left;
  overflow:hidden;
  font-size:18px;
  color:#777777;
}

.content {
  width:90%;
  margin:0 auto;
}

.temperature {
  font-size:104px;
  border:1px;
}

.description {
  font-style:italic;
  width:100px;
}

.icon {
  width:125px;
  height:125px;
}

.input {
  background-color:#555555;
  color:#ffffff;
}

.navbar {
  background-color:#000000;
  color:#ffffff;
  margin-bottom:5px;
  overflow:hidden;
  padding:5px;
  font-size:18px;
  text-align:right;
  width:100%;
}
