body {
  font-family:Helvetica, sans-serif;
}

a {
  text-decoration:underline;
  color:#000000;
}

a.visited {
  text-decoration:underline;
  color:#000000;
}

#left {
  float:left;
  padding-right:5px;
}

#right {
  overflow: hidden;
}

.title {
  text-align:left;
  padding-bottom:1px;
  overflow:hidden;
  font-size:40px;
}

.subtitle {
  font-style:italic;
  text-align:left;
  overflow:hidden;
  padding-top:1px;
  font-size:24px;
  color:#777777;
}

.content {
  width:90%;
  margin:0 auto;
}

.temperature {
  font-size:104px;
  border:1px;
}

.description {
  font-style:italic;
  width:100px;
}

.icon {
  width:95px;
  height:95px;
  border: 1px solid black;
}
